
canvas {
  display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#p5-container-synth {
    flex:1;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-left: 2px solid black;
}

#p5-container-seq {
    flex:1;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 2px solid black;
}
